/* declare variable usage for css files here */
/* use format: $variableName: value          */

$mainBlue: #2f5572;
$mainOrange: #d59541;
$background: #333;
$black: #000;
$white: #fff;
$blue: #0077b5;
$lightGrey: #caccce;
$darkGrey: #86888a;