<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="<%= author %>">

    <title>Fox Design Agency -
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/theme.css" />
</head>

<body>
<div class="header--top">
    <a href="/">Back to Fox Design Agency</a>
</div>
    <nav class="header__project">
            <ul class="header__project-navbar">
                        <li>
                            <a class="" href="/aristos">
                                home
                            </a>
                        </li>
                        <li>
                            <a class="" href="/aristos/documentation">
                                documentation
                            </a>
                        </li>
                        <li>
                            <a class="" href="/aristos/changelog">
                                changelog
                            </a>
                        </li>
                                <li>
                                <a class="open-modal">contact</a>
                                </li>

            </ul>
       
    </nav>

    <main role="main" class="">