</main>
<p class="footer">&COPY; <%= new Date().getFullYear() %> Fox Design Agency - Powered By Aristos CMS - version 0.3.0 - Node - Design by &nbsp;<a href="https://foxdesignagency.com" target="_blank">Fox Design Agency</a></p>

<div class="modal">
    <div class="modal__inner">
        <h2 class="section-title section-title--blue section-title--less-margin">
            <span class="icon icon--mail section-title__icon"></span>Right now we are not accepting new clients
        </h2>
        <div class="wrapper wrapper--narrow">
            <p class="modal__description">But that doesn't mean that in the future we won't be!</p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/ataraxyclothing/" target="_blank" class="social-icons__icon">
                <span class="icon icon--facebook"></span>
            </a>
        </div>
    </div>
    <div class="modal__close">X</div>
</div>
 <!-- build:js(content/temp) /scripts/main.js -->
 <script src="/scripts/main.js"></script>
 <!-- endbuild -->
</body>
</html>