<% include ../_layouts/aristosHeader %>
   <h1 class="page__title">Documentation</h1>
   <div class="wrapper">
   <div class="documentation__categories">
   <h2>Docs</h2>
   <% documentation.forEach((doc)=>{ %>
       <a href="/aristos/documentation/<%= doc._id %>"><%= doc.title %></a>
       <% }) %>
   </div>
   <div class="documentation__content page__section--skinny">
   This way neat place will hopefully get you up and runnnig with the Aristos Content Managment System. Use the stuff on the left to find what you are looking for. A great place to get going fast is by checking our the Getting Started section. We do hope that you can build some cool stuff. Enjoy yourself, and have fun.
     
   </div>
   </div>


   <% include ../_layouts/footer %>