<% include ../_layouts/aristosHeader %>
<div class="page__title">
    <h1>Aristos CMS</h1>
</div>
<div class="page__section page__section--skinny">
<%- content %>
</div>

    <% include ../_layouts/footer %>